{% extends 'blog/base.html' %}

{% block content %}
    <article class="post">
        {% if post.published_date %}
            <time class="date">
                {{ post.published_date }}
            </time>
        {% endif %}
        <h2>{{ post.title }}</h2>
        {% if post.image %}
        <figure>
        <img src="{{post.image.url}}" alt="">
        {% if post.legende %}
        <figcaption>{{post.legende}}</figcaption>
        {% endif %}
        </figure>
        {% endif %}
        <p>{{post.text|safe}}</p>
    </article>
{% endblock %}